body{
    background-color:rgb(238, 230, 230);
}
h1{
    color:red;
    text-align: center;
}
.container_tasks{
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    width:400px;
    background-color:white;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 0 auto;
    color:grey;
}
.new_task{
    border-bottom: 1px solid grey;
    padding: 10px 1px 10px 10px;
}
.task_completed{
    text-decoration:line-through;
    border-bottom: 1px solid grey;
    padding: 10px 1px 10px 10px;
}
.task_active{
    border-bottom: 1px solid grey;
    padding: 10px 1px 10px 10px;
    color:black;
}
.container_filter{
    font-size: 10pt;
    height:20px;
    display:inline-block;
    padding: 5px 1px 5px 10px;
}
.filter_quantity_tasks{
    display:inline-block;
    text-align: left;
    margin-right: 50px;
}
.bordered{
    display:inline-block;
    border: 1px solid black;
    text-align: center;
    margin-right: 10px;
}
.filter_show{
    display:inline-block;
    text-align: center;
    margin-right: 10px;
}
.filter_delete{
    display:inline-block;
    margin-left: 30px;
    text-align: right;
}
