body{
    background-color:rgb(238, 230, 230);
}
h1{
    color:coral;
    text-align: center;
}
.application_content{
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    width:400px;
    background-color:white;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 0 auto;
    color:grey;
}
.task_new{
    border-bottom: 1px solid grey;
    padding: 10px 1px 10px 10px;
}
.task_add_new{
    border:transparent;
    font-style:italic;
}
.task_all{
    border-bottom: 1px solid grey;
    padding: 10px 1px 10px 10px;
    color:black;
}
.task_checkbox:checked ~.task_label_checkbox{
    text-decoration:line-through;
    color:grey;
    padding: 10px 1px 10px 10px;
}
.task_active{
    border-bottom: 1px solid grey;
    padding: 10px 1px 10px 10px;
    color:black;
}
.task_active:hover .task_button_delete{
    visibility: visible;
    border: transparent;
    background: inherit;
    color:red;
    float: right;
}
.task_button_delete{
    float: right;
    visibility: hidden;
}
.filters{
    font-size: 10pt;
    height:20px;
    display:inline-block;
    padding: 5px 1px 5px 10px;
}
.filter_quantity_tasks{
    display:inline-block;
    text-align: left;
    margin-right: 20px;
}
.bordered{
    display:inline-block;
    border: 1px solid black;
    text-align: center;
    margin-right: 5px;
}
.filter_show{
    display:inline-block;
    text-align: center;
    margin-right: 5px;
}
.filter_delete{
    display:inline-block;
    margin-left: 10px;
    text-align: right;
}
.filter_button{
    border: transparent;
    background: inherit;
    color:inherit;
}
